In [35]:
import pandas as pd
import numpy as np

#### string to time

In [6]:
#可以接受array作为参数！
help(pd.to_datetime)

Help on function to_datetime in module pandas.core.tools.datetimes:

to_datetime(arg, errors='raise', dayfirst=False, yearfirst=False, utc=None, box=True, format=None, exact=True, unit=None, infer_datetime_format=False, origin='unix', cache=False)
    Convert argument to datetime.

    Parameters
    ----------
    arg : integer, float, string, datetime, list, tuple, 1-d array, Series

        .. versionadded:: 0.18.1

           or DataFrame/dict-like

    errors : {'ignore', 'raise', 'coerce'}, default 'raise'

        - If 'raise', then invalid parsing will raise an exception
        - If 'coerce', then invalid parsing will be set as NaT
        - If 'ignore', then invalid parsing will return the input
    dayfirst : boolean, default False
        Specify a date parse order if `arg` is str or its list-likes.
        If True, parses dates with the day first, eg 10/11/12 is parsed as
        2012-11-10.
        Warning: dayfirst=True is not strict, but will prefer to parse
        with day first (this is a known bug, based on dateutil behavior).
    yearfirst : boolean, default False
        Specify a date parse order if `arg` is str or its list-likes.

        - If True parses dates with the year first, eg 10/11/12 is parsed as
          2010-11-12.
        - If both dayfirst and yearfirst are True, yearfirst is preceded (same
          as dateutil).

        Warning: yearfirst=True is not strict, but will prefer to parse
        with year first (this is a known bug, based on dateutil beahavior).

        .. versionadded:: 0.16.1

    utc : boolean, default None
        Return UTC DatetimeIndex if True (converting any tz-aware
        datetime.datetime objects as well).
    box : boolean, default True

        - If True returns a DatetimeIndex
        - If False returns ndarray of values.
    format : string, default None
        strftime to parse time, eg "%d/%m/%Y", note that "%f" will parse
        all the way up to nanoseconds.
    exact : boolean, True by default

        - If True, require an exact format match.
        - If False, allow the format to match anywhere in the target string.

    unit : string, default 'ns'
        unit of the arg (D,s,ms,us,ns) denote the unit, which is an
        integer or float number. This will be based off the origin.
        Example, with unit='ms' and origin='unix' (the default), this
        would calculate the number of milliseconds to the unix epoch start.
    infer_datetime_format : boolean, default False
        If True and no `format` is given, attempt to infer the format of the
        datetime strings, and if it can be inferred, switch to a faster
        method of parsing them. In some cases this can increase the parsing
        speed by ~5-10x.
    origin : scalar, default is 'unix'
        Define the reference date. The numeric values would be parsed as number
        of units (defined by `unit`) since this reference date.

        - If 'unix' (or POSIX) time; origin is set to 1970-01-01.
        - If 'julian', unit must be 'D', and origin is set to beginning of
          Julian Calendar. Julian day number 0 is assigned to the day starting
          at noon on January 1, 4713 BC.
        - If Timestamp convertible, origin is set to Timestamp identified by
          origin.

        .. versionadded:: 0.20.0
    cache : boolean, default False
        If True, use a cache of unique, converted dates to apply the datetime
        conversion. May produce sigificant speed-up when parsing duplicate date
        strings, especially ones with timezone offsets.

        .. versionadded:: 0.23.0

    Returns
    -------
    ret : datetime if parsing succeeded.
        Return type depends on input:

        - list-like: DatetimeIndex
        - Series: Series of datetime64 dtype
        - scalar: Timestamp

        In case when it is not possible to return designated types (e.g. when
        any element of input is before Timestamp.min or after Timestamp.max)
        return will have datetime.datetime type (or corresponding
        array/Series).

    Examples
    --------
    Assembling a datetime from multiple columns of a DataFrame. The keys can be
    common abbreviations like ['year', 'month', 'day', 'minute', 'second',
    'ms', 'us', 'ns']) or plurals of the same

    >>> df = pd.DataFrame({'year': [2015, 2016],
                           'month': [2, 3],
                           'day': [4, 5]})
    >>> pd.to_datetime(df)
    0   2015-02-04
    1   2016-03-05
    dtype: datetime64[ns]

    If a date does not meet the `timestamp limitations
    <http://pandas.pydata.org/pandas-docs/stable/timeseries.html
    #timeseries-timestamp-limits>`_, passing errors='ignore'
    will return the original input instead of raising any exception.

    Passing errors='coerce' will force an out-of-bounds date to NaT,
    in addition to forcing non-dates (or non-parseable dates) to NaT.

    >>> pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')
    datetime.datetime(1300, 1, 1, 0, 0)
    >>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')
    NaT

    Passing infer_datetime_format=True can often-times speedup a parsing
    if its not an ISO8601 format exactly, but in a regular format.

    >>> s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000']*1000)

    >>> s.head()
    0    3/11/2000
    1    3/12/2000
    2    3/13/2000
    3    3/11/2000
    4    3/12/2000
    dtype: object

    >>> %timeit pd.to_datetime(s,infer_datetime_format=True)
    100 loops, best of 3: 10.4 ms per loop

    >>> %timeit pd.to_datetime(s,infer_datetime_format=False)
    1 loop, best of 3: 471 ms per loop

    Using a unix epoch time

    >>> pd.to_datetime(1490195805, unit='s')
    Timestamp('2017-03-22 15:16:45')
    >>> pd.to_datetime(1490195805433502912, unit='ns')
    Timestamp('2017-03-22 15:16:45.433502912')

    .. warning:: For float arg, precision rounding might happen. To prevent
        unexpected behavior use a fixed-width exact type.

    Using a non-unix epoch origin

    >>> pd.to_datetime([1, 2, 3], unit='D',
                       origin=pd.Timestamp('1960-01-01'))
    0    1960-01-02
    1    1960-01-03
    2    1960-01-04

    See also
    --------
    pandas.DataFrame.astype : Cast argument to a specified dtype.
    pandas.to_timedelta : Convert argument to timedelta.

In [7]:
from dateutil.parser import parse
help(parse)

Help on function parse in module dateutil.parser._parser:

parse(timestr, parserinfo=None, **kwargs)
    Parse a string in one of the supported formats, using the
    ``parserinfo`` parameters.

    :param timestr:
        A string containing a date/time stamp.

    :param parserinfo:
        A :class:`parserinfo` object containing parameters for the parser.
        If ``None``, the default arguments to the :class:`parserinfo`
        constructor are used.

    The ``**kwargs`` parameter takes the following keyword arguments:

    :param default:
        The default datetime object, if this is a datetime object and not
        ``None``, elements specified in ``timestr`` replace elements in the
        default object.

    :param ignoretz:
        If set ``True``, time zones in parsed strings are ignored and a naive
        :class:`datetime` object is returned.

    :param tzinfos:
        Additional time zone names / aliases which may be present in the
        string. This argument maps time zone names (and optionally offsets
        from those time zones) to time zones. This parameter can be a
        dictionary with timezone aliases mapping time zone names to time
        zones or a function taking two parameters (``tzname`` and
        ``tzoffset``) and returning a time zone.

        The timezones to which the names are mapped can be an integer
        offset from UTC in seconds or a :class:`tzinfo` object.

        .. doctest::
           :options: +NORMALIZE_WHITESPACE

            >>> from dateutil.parser import parse
            >>> from dateutil.tz import gettz
            >>> tzinfos = {"BRST": -7200, "CST": gettz("America/Chicago")}
            >>> parse("2012-01-19 17:21:00 BRST", tzinfos=tzinfos)
            datetime.datetime(2012, 1, 19, 17, 21, tzinfo=tzoffset(u'BRST', -7200))
            >>> parse("2012-01-19 17:21:00 CST", tzinfos=tzinfos)
            datetime.datetime(2012, 1, 19, 17, 21,
                              tzinfo=tzfile('/usr/share/zoneinfo/America/Chicago'))

        This parameter is ignored if ``ignoretz`` is set.

    :param dayfirst:
        Whether to interpret the first value in an ambiguous 3-integer date
        (e.g. 01/05/09) as the day (``True``) or month (``False``). If
        ``yearfirst`` is set to ``True``, this distinguishes between YDM and
        YMD. If set to ``None``, this value is retrieved from the current
        :class:`parserinfo` object (which itself defaults to ``False``).

    :param yearfirst:
        Whether to interpret the first value in an ambiguous 3-integer date
        (e.g. 01/05/09) as the year. If ``True``, the first number is taken to
        be the year, otherwise the last number is taken to be the year. If
        this is set to ``None``, the value is retrieved from the current
        :class:`parserinfo` object (which itself defaults to ``False``).

    :param fuzzy:
        Whether to allow fuzzy parsing, allowing for string like "Today is
        January 1, 2047 at 8:21:00AM".

    :param fuzzy_with_tokens:
        If ``True``, ``fuzzy`` is automatically set to True, and the parser
        will return a tuple where the first element is the parsed
        :class:`datetime.datetime` datetimestamp and the second element is
        a tuple containing the portions of the string which were ignored:

        .. doctest::

            >>> from dateutil.parser import parse
            >>> parse("Today is January 1, 2047 at 8:21:00AM", fuzzy_with_tokens=True)
            (datetime.datetime(2047, 1, 1, 8, 21), (u'Today is ', u' ', u'at '))

    :return:
        Returns a :class:`datetime.datetime` object or, if the
        ``fuzzy_with_tokens`` option is ``True``, returns a tuple, the
        first element being a :class:`datetime.datetime` object, the second
        a tuple containing the fuzzy tokens.

    :raises ValueError:
        Raised for invalid or unknown string format, if the provided
        :class:`tzinfo` is not in a valid format, or if an invalid date
        would be created.

    :raises OverflowError:
        Raised if the parsed date exceeds the largest valid C integer on
        your system.

#### time series basic

In [16]:
dates = pd.date_range(start='2000/1/1', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
                      index=dates,
                      columns=['Colorado', 'Texas',
                               'New York', 'Ohio'])

In [18]:
#你可以直接选择年月, 返回所有匹配的日期
long_df.loc['2001-5']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.302907  0.588677 -1.640485  0.273731
2001-05-09 -0.743850 -1.718399  0.481137 -0.452213
2001-05-16  1.919083  1.506956 -0.492534 -0.362583
2001-05-23  0.940581 -0.305602  1.168225  0.228228
2001-05-30 -0.232412 -0.494634 -0.097365 -2.724059

In [20]:
#a useful shorthand for boolean indexing based on index values above or below certain thresholds.
help(long_df.truncate)

Help on method truncate in module pandas.core.generic:

truncate(before=None, after=None, axis=None, copy=True) method of pandas.core.frame.DataFrame instance
    Truncate a Series or DataFrame before and after some index value.

    This is a useful shorthand for boolean indexing based on index
    values above or below certain thresholds.

    Parameters
    ----------
    before : date, string, int
        Truncate all rows before this index value.
    after : date, string, int
        Truncate all rows after this index value.
    axis : {0 or 'index', 1 or 'columns'}, optional
        Axis to truncate. Truncates the index (rows) by default.
    copy : boolean, default is True,
        Return a copy of the truncated section.

    Returns
    -------
    type of caller
        The truncated Series or DataFrame.

    See Also
    --------
    DataFrame.loc : Select a subset of a DataFrame by label.
    DataFrame.iloc : Select a subset of a DataFrame by position.

    Notes
    -----
    If the index being truncated contains only datetime values,
    `before` and `after` may be specified as strings instead of
    Timestamps.

    Examples
    --------
    >>> df = pd.DataFrame({'A': ['a', 'b', 'c', 'd', 'e'],
    ...                    'B': ['f', 'g', 'h', 'i', 'j'],
    ...                    'C': ['k', 'l', 'm', 'n', 'o']},
    ...                    index=[1, 2, 3, 4, 5])
    >>> df
       A  B  C
    1  a  f  k
    2  b  g  l
    3  c  h  m
    4  d  i  n
    5  e  j  o

    >>> df.truncate(before=2, after=4)
       A  B  C
    2  b  g  l
    3  c  h  m
    4  d  i  n

    The columns of a DataFrame can be truncated.

    >>> df.truncate(before="A", after="B", axis="columns")
       A  B
    1  a  f
    2  b  g
    3  c  h
    4  d  i
    5  e  j

    For Series, only rows can be truncated.

    >>> df['A'].truncate(before=2, after=4)
    2    b
    3    c
    4    d
    Name: A, dtype: object

    The index values in ``truncate`` can be datetimes or string
    dates.

    >>> dates = pd.date_range('2016-01-01', '2016-02-01', freq='s')
    >>> df = pd.DataFrame(index=dates, data={'A': 1})
    >>> df.tail()
                         A
    2016-01-31 23:59:56  1
    2016-01-31 23:59:57  1
    2016-01-31 23:59:58  1
    2016-01-31 23:59:59  1
    2016-02-01 00:00:00  1

    >>> df.truncate(before=pd.Timestamp('2016-01-05'),
    ...             after=pd.Timestamp('2016-01-10')).tail()
                         A
    2016-01-09 23:59:56  1
    2016-01-09 23:59:57  1
    2016-01-09 23:59:58  1
    2016-01-09 23:59:59  1
    2016-01-10 00:00:00  1

    Because the index is a DatetimeIndex containing only dates, we can
    specify `before` and `after` as strings. They will be coerced to
    Timestamps before truncation.

    >>> df.truncate('2016-01-05', '2016-01-10').tail()
                         A
    2016-01-09 23:59:56  1
    2016-01-09 23:59:57  1
    2016-01-09 23:59:58  1
    2016-01-09 23:59:59  1
    2016-01-10 00:00:00  1

    Note that ``truncate`` assumes a 0 value for any unspecified time
    component (midnight). This differs from partial string slicing, which
    returns any partially matching dates.

    >>> df.loc['2016-01-05':'2016-01-10', :].tail()
                         A
    2016-01-10 23:59:55  1
    2016-01-10 23:59:56  1
    2016-01-10 23:59:57  1
    2016-01-10 23:59:58  1
    2016-01-10 23:59:59  1

In [21]:
#如何处理重复日期
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', 
                          '1/2/2000','1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)

In [24]:
#判断是否有重复
dup_ts.index.is_unique

False

In [26]:
#有重复
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int64

In [27]:
#去重方法之一: groupby(level=0)
dup_ts.groupby(level=0).mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64

#### Date Ranges, Frequencies, and Shifting

In [50]:
#产生time_range
#!!!!!你最多只能指定四个参数中的三个: start, end, freq, periods
pd.date_range(start='2012-04-01', end='2012-06-01', freq='5D')

DatetimeIndex(['2012-04-01', '2012-04-06', '2012-04-11', '2012-04-16',
               '2012-04-21', '2012-04-26', '2012-05-01', '2012-05-06',
               '2012-05-11', '2012-05-16', '2012-05-21', '2012-05-26',
               '2012-05-31'],
              dtype='datetime64[ns]', freq='5D')

In [30]:
N = 150
times = pd.date_range(start='2017-05-20 00:00', freq='1min', periods=N)
df = (pd.DataFrame({'time': times,
                   'value': np.arange(N)})
     .set_index('time'))

In [51]:
#resample method
#每隔5分钟采样一次
df.resample('5min').mean().head()

                     value
time
2017-05-20 00:00:00      2
2017-05-20 00:05:00      7
2017-05-20 00:10:00     12
2017-05-20 00:15:00     17
2017-05-20 00:20:00     22

In [38]:
df2 = (pd.DataFrame({'time': times.repeat(3),
                    'key': np.tile(['a', 'b', 'c'], N),
                    'value': np.arange(N * 3.)})
      .set_index('time'))

In [45]:
#通过pd.TimeGrouper对象来resampling 'key'
#记住了你的索引必须是time！！！
df2.groupby(['key', pd.Grouper(freq='5min')]).sum().head()

                         value
key time
a   2017-05-20 00:00:00   30.0
    2017-05-20 00:05:00  105.0
    2017-05-20 00:10:00  180.0
    2017-05-20 00:15:00  255.0
    2017-05-20 00:20:00  330.0